@page
@model GroupStudyClient.Pages.Admin.GroupManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">Group</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                <strong>Group Name</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Group.GroupName)
            </dd>
            <dt class="col-sm-3">
                <strong>Created At</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Group.CreatedAt)
            </dd>
            <dt class="col-sm-3">
                <strong>Description</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Group.Description)
            </dd>
            <dt class="col-sm-3">
                <strong>Group Admin</strong>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Group.GroupAdmin.Email)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Group.GroupId">Edit</a>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
