@page
@model GroupStudyClient.Pages.Admin.GroupManagement.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<div class="card">
     <div class="card-body">
<table id="dtBasicExample" class="table table-striped" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Group)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupAdmin.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.GroupId" class="btn btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.GroupId" class="btn btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.GroupId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
